.boxDoados{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boxCard{
    height: 60vh;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    article{
        border: solid 2px #005695;
        height: 250px;
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
}

